html,
body {
  background-color: #fff;
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Raleway', sans-serif !important;
}

h1.header-text {
  font-size: 100px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: #495057;
}

h2.section-title {
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.075);
  color: #fff;
}

h5.sub-text {
  text-align: center;
  color: #495057;
}

ul {
  list-style-type: none;
  padding: 0;
}

.right {
  float: right;
}

.btn {
  border-color: #ccc !important;
  color: #495057;
}

.btn:hover {
  color: #fff;
  background-color: #495057;
}

.btn-margin {
  margin-top: 40px;
}

@media screen and (max-width: 479px) {
  h1.header-text {
    font-size: 70px;
  }

}

/* Navbar */

.nav-up {
  top: -70px;
}

.logo {
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
  color: #cccccc;
  float: right;
}

@media (min-width: 992px) {
  header{
    background: #ffffffeb;
    height: 70px;
    position: fixed;
    top: 0;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 2;
  }

  .navbar {
    width: 100%;
    background-color: #ffffffeb;
    height: 70px;
  }
}
#hamburger {
  width: 30px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 11px;
}

#hamburger span:nth-child(3) {
  top: 22px;
}

#hamburger.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#hamburger.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.sitenavigation li.active a {
  color: #fff;
  background-color: #cccccc;
  padding: 4px 6px 2px 6px;
  border-radius: 6px;
}

.sitenavigation ul {
  margin: 0;
  padding: 0;
  float: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.sitenavigation li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 14px 0px 14px;
}
.sitenavigation li a {
  color: #cccccc;
  text-decoration: none;
  display: block;
  -webkit-transition: .5s all ease-out;
  transition: .5s all ease-out;
  padding: 4px 6px 2px 6px;
  border-radius: 6px;
}
.sitenavigation li a.nav-path-selected, .sitenavigation li a.linkclicked {
  color: white;
  background-color: #ECECEC;
}
.sitenavigation li a.nav-selected {
  background-color: #777;
  color: #000;
}
.sitenavigation li a:hover {
  color: #fff;
  background-color: #cccccc;
  padding: 4px 6px 2px 6px;
  border-radius: 6px;
}
.sitenavigation li.clicked > ul {
  display: block;
}
.sitenavigation li ul {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  padding: 0;
  margin: 0;
}
.sitenavigation li ul a {
  background-color: #dfdfdf;
  font-size: 0.8125em;
}
.sitenavigation li ul li {
  float: none;
  display: block;
  margin: 0;
}
.sitenavigation li ul ul {
  left: 100%;
  margin-top: -40px;
}
.sitenavigation li ul ul a {
  background-color: lightgray;
}

.no-js .sitenavigation li:hover > ul {
  display: block !important;
}

.menu-icon {
  display: none;
}

/*Tablet Down*/
@media (max-width: 991px) {
  .navbar {
    width: 100%;
    background-color: #ffffffeb;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    z-index: 1;
  }
  .navbar .menu-icon {
    width: 30px;
    height: 25px;
    padding-top: 0;
    margin-top: 7px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .navbar .sitenavigation ul {
    display: none;
    max-width: none !important;
  }
  .navbar .sitenavigation li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  .navbar .sitenavigation.is-tapped > ul {
    display: block;
    position: absolute;
    margin-top: 14px;
    background-color: #FFF;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 0;
  }
  .navbar .sitenavigation.is-tapped > ul a {
    width: 100%;
    margin: 0;
    background-color: #fff;
    display: block;
    font-size: 1.1875em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    color: #758283;
    float: none;
    border: none !important;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar .sitenavigation.is-tapped > ul a:hover {
    background-color: #dfdfdf;
  }
  .navbar .sitenavigation.is-tapped > ul li {
    width: 100%;
    background-color: #f7f7f7;
    -webkit-tap-highlight-color: transparent;
    line-height: 3;
  }
}

/* Parallax */

#main {
  width: 100%;
  padding: 0;
}

.margin-top-10 {
  padding-top: 10px;
}

#parallax .header-space {
  height: 70px;
}

#parallax .block {
  background: white;
  padding: 60px 0;
  /*width: 820px;*/
  margin: 0 auto;
  text-align: justify;
}

#parallax .parallax-one {
  padding-top: 300px;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255, 0) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255, 1) 100%), url("/img/pipes.png");
  background-attachment: fixed;
  /*background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  background-repeat: repeat;
  /*background-position: top center;*/
}

#parallax .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("/img/pipes.png");
  background-attachment: fixed;
  /*background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  background-repeat: repeat;
  /*background-position: center center;*/
}

#parallax .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("/img/pipes.png");
  background-attachment: fixed;
  /*background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  background-repeat: repeat;
  /*background-position: center center;*/
}

#parallax .parallax-four {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("/img/pipes.png");
  background-attachment: fixed;
  /*background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  background-repeat: repeat;
  /*background-position: center center;*/
}

#parallax .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #parallax h2 {
    font-size: 30px;
  }

  #parallax .parallax-one,
  #parallax .parallax-two,
  #parallax .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/*Transition Fade In*/

.one {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*Transition Fade In Up*/

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.two {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*Section Title Left to Right*/
.sliding-u-l-r {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.sliding-u-l-r:after {
  content: '';
  position: absolute;
  /*margin-bottom: -10px;*/
  bottom: -1px;
  left: 0;
  width: 0%;
  border-bottom: 1.5px solid #495057;
  transition: 0.4s;
}
.hover-underline:hover .sliding-u-l-r:after {
  width: 100%;
}

/*Sections*/

.section-title {
  color: #999999;
  padding-bottom: 10px;
  font-weight: 600;
  width: 30%;
}

.section-underline {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.content {
  text-align: left;
  margin: 0;
  color: #495057;
  font-size: 16px;
  padding-top: 30px;
}

/*About Me Section*/

.custom-text {
  font-size: 40px;
  font-weight: 700;
  color: #dadada;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}

.content.bio-paragraph {
  max-width: 650px;
  line-height: 2;
}

@media screen and (max-width: 479px) {
  .custom-text {
    font-size: 26px;
  }

}

/*Photos Section*/

img.lg-object.lg-image {
  object-fit: cover;
}

.photo-preview {
    width: 320px;
    height: 320px;
    padding: 15px;
    display: block;
    object-fit: cover;
    object-position: center;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
}

.photo-preview:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}

.svg-wrapper {
/*  background: rgba(0,0,0,0.25);*/
  position: relative;
  width: 320px;
  height: 320px;
  top: 10%;
  left: 50%;
  margin-left: -160px;
  margin-bottom: 40px;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.outline {
  width: 100%;
  height: 100%;
  stroke-dasharray: 1280;
  stroke-dashoffset: 1280;
  stroke-width: 3px;
  fill: transparent;
  stroke: #495057;
  transition: stroke-dashoffset 1s, stroke-dasharray 1s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-wrapper:hover .outline {
  stroke-dashoffset: 0;
}

@media screen and (max-width: 991px) {
  .photo-preview {
    padding: 0;
  }

}

/*Instagram Feed Section*/
.ig-img {
  padding: 0 20px 20px 0;
}

/* Contact */

.social-logos {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0 3px 9px;

    a {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      overflow: hidden;
      color: #fff;
      font-family: 'Roboto Slab', serif;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      line-height: 40px;

      .icon {
        position: relative;
        z-index: 2;
      }

      .circle {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.1);
        border-radius: 100%;

        &:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          width: 36px;
          height: 36px;
          border-radius: 100%;
          background: #fff;
        }

        span {
          position: absolute;
          width: 50%;
          height: 100%;
          overflow: hidden;

          em {
            position: absolute;
            border-radius: 999px;
            width: 100%;
            height: 100%;
            background: #dadada;
            transition: transform .2s linear;
          }

          &:first-child {
            left: 0%;

            em {
              left: 100%;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              transform-origin: 0% 50%;
            }
          }

          &:last-child {
            left: 50%;

            em {
              left: -100%;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              transform-origin: 100% 50%;
              transition-delay: .2s;
            }
          }
        }
      }

      &:hover {

        .circle span {

          &:first-child em {
            transform: rotate(-180deg);
            transition: transform .25s ease-out;
            transition-delay: .2s;
          }

          &:last-child em {
            transform: rotate(-180deg);
            transition: transform .2s linear;
          }
        }
      }
    }
  }
}
